<!DOCTYPE html>
<html lang="en">

<head>
    {% embed('@WebBundle/Resources/views/Layouts/admin_assets.html.twig') %}
    {% endembed %}
    <!-- Title Page-->
    <title>Admin Dashboard - {{ WebInfos.0.webtitle }}</title>
</head>

<body class="animsition">
    <div class="page-wrapper">
      {% embed('@WebBundle/Resources/views/Layouts/admin_header.html.twig') %}
      {% endembed %}
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">Dashboard</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-account-o"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{ products|length }}</h2>
                                                <span>products to sell</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart1"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-shopping-cart"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{ orders|length }}</h2>
                                                <span>items sold</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart2"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c3">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-calendar-note"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{ countOrderWeek.0.num }}</h2>
                                                <span>this week</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart3"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c4">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-money"></i>
                                            </div>
                                            <div class="text">
                                                <h2>
                                                {% set total = 0 %}
                                                {% for company in topcompanies %}
                                                  {% set total = total + company.Total %}
                                                {% endfor %}
                                                ${{ total|number_format(0, ',') }}
                                                </h2>
                                                <span>total earnings</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart4"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="au-card recent-report">
                                    <div class="au-card-inner">
                                        <h3 class="title-2">recent reports</h3>
                                        <div class="chart-info">
                                            <div class="chart-info__left">
                                                <div class="chart-note">
                                                    <span class="dot dot--blue"></span>
                                                    <span>products</span>
                                                </div>
                                                <div class="chart-note mr-0">
                                                    <span class="dot dot--green"></span>
                                                    <span>buyers</span>
                                                </div>
                                            </div>
                                            <div class="chart-info__right">
                                                <div class="chart-statis">
                                                    <span class="index incre">
                                                        <i class="zmdi zmdi-long-arrow-up"></i>25%</span>
                                                    <span class="label">products</span>
                                                </div>
                                                <div class="chart-statis mr-0">
                                                    <span class="index incre">
                                                        <i class="zmdi zmdi-long-arrow-up"></i>90%</span>
                                                    <span class="label">buyers</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="recent-report__chart">
                                            <canvas id="recent-rep-chart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="au-card chart-percent-card">
                                    <div class="au-card-inner">
                                        <h3 class="title-2 tm-b-5">Ratio of products/clients</h3>
                                        <div class="row no-gutters">
                                            <div class="col-xl-6">
                                                <div class="chart-note-wrap">
                                                    <div class="chart-note mr-0 d-block">
                                                        <span class="dot dot--blue"></span>
                                                        <span>products</span>
                                                    </div>
                                                    <div class="chart-note mr-0 d-block">
                                                        <span class="dot dot--red"></span>
                                                        <span>clients</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="percent-chart">
                                                    <canvas id="percent-chart"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9">
                                <h2 class="title-1 m-b-25">Orders</h2>
                                <div class="table-responsive table--no-card m-b-40">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                <th>Company</th>
                                                <th>order ID</th>
                                                <th>name</th>
                                                <th class="text-right">category</th>
                                                <th class="text-right">price</th>
                                                <th class="text-right">status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          {% for order in orders %}
                                            <tr>
                                                <td>{{ order.company }}</td>
                                                <td>{{ order.id }}</td>
                                                <td>{% for product in products %}
                                                      {% if product.id == order.prodid %}
                                                        {{ product.name }}
                                                      {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td class="text-right">
                                                  {% for category in categories %}
                                                        {% if category.id == order.categid %}
                                                          {{ category.name }}
                                                        {% endif %}
                                                  {% endfor %}
                                                </td>
                                                <td class="text-right">
                                                  {% for product in products %}
                                                        {% if product.id == order.prodid %}
                                                          {{ product.price|number_format(0, ',') }}$
                                                        {% endif %}
                                                  {% endfor %}
                                              </td>
                                                <td class="text-right">{% if order.status == 1 %}Waiting{% endif %}{% if order.status == 2 %}Refused{% endif %}{% if order.status == 3 %}Finish{% endif %}</td>
                                            </tr>
                                          {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <h2 class="title-1 m-b-25">Top companies</h2>
                                <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                                    <div class="au-card-inner">
                                        <div class="table-responsive">
                                            <table class="table table-top-countries">
                                                <tbody>
                                                  {% for company in topcompanies %}
                                                    <tr>
                                                        <td>{{ company.company }}</td>
                                                        <td class="text-right">${{ company.Total|number_format(0, ',') }}</td>
                                                    </tr>
                                                  {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% embed('@WebBundle/Resources/views/Layouts/messages.html.twig') %}
                        {% endembed %}
                        {% embed('@WebBundle/Resources/views/Layouts/copyright.html.twig') %}
                        {% endembed %}
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>
    </div>
    {% embed('@WebBundle/Resources/views/Layouts/admin_js.html.twig') %}
    {% endembed %}
  {% block javascripts %}
    <script>
    // Percent Chart
    var ctx = document.getElementById("percent-chart");
    if (ctx) {
      ctx.height = 280;
      var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          datasets: [
            {
              label: "My First dataset",
              data: [{{ products|length }}, {{ users|length }}],
              backgroundColor: [
                '#00b5e9',
                '#fa4251'
              ],
              hoverBackgroundColor: [
                '#00b5e9',
                '#fa4251'
              ],
              borderWidth: [
                0, 0
              ],
              hoverBorderColor: [
                'transparent',
                'transparent'
              ]
            }
          ],
          labels: [
            'Products',
            'Clients'
          ]
        },
        options: {
          maintainAspectRatio: false,
          responsive: true,
          cutoutPercentage: 55,
          animation: {
            animateScale: true,
            animateRotate: true
          },
          legend: {
            display: false
          },
          tooltips: {
            titleFontFamily: "Poppins",
            xPadding: 15,
            yPadding: 10,
            caretPadding: 0,
            bodyFontSize: 16
          }
        }
      });
    }
  </script>
{% endblock %}
</body>
</html>
<!-- end document-->