<!DOCTYPE html>
<html>
  <head>
    <title>{{ product.0.name }}</title>
    {% embed('@WebBundle/Resources/views/Layouts/shop_assets.html.twig') %}
    {% endembed %}
  </head>
  <body class="w3-content" style="max-width:1200px">
    {% embed('@WebBundle/Resources/views/Layouts/shop_navbar.html.twig') %}
    {% endembed %}
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:250px">

      <!-- Push down content on small screens -->
      <div class="w3-hide-large" style="margin-top:83px"></div>

      {% embed('@WebBundle/Resources/views/Layouts/shop_topheader.html.twig') %}
      {% endembed %}
      <div class="w3-container w3-text-grey" id="{{ category }}">
        <!-- Product grid -->
        <div class="buttons">
          <a href="/"><button class="add-to-cart-btn"><i href="/" class="fa fa-shopping-cart"></i> Add to cart</button></a>
        </div>
        <div class="w3-row w3-grayscale">
          <div class="w3-container">
            <img src="{{ product.0.img ?: "https://d30y9cdsu7xlg0.cloudfront.net/png/1095867-200.png" }}" style="width:20%">
            <p>{{ product.0.name }}<br><b>{{ product.0.price|number_format(0, ',') }}$</b></p>
            <p>{{ product.0.description }}</p>
          </div>
        </div>
      </div>
      <a href="/uploads/resumes/resume_{{ product.0.id }}.pdf"><button class="btn"><i class="fa fa-download"></i> Download his resume</button></a>
      <!-- End page content -->
    </div>
    {% embed('@WebBundle/Resources/views/Layouts/newsletter.html.twig') %}
    {% endembed %}
    {% block javascripts %}
      {% javascripts '@WebBundle/Resources/assets/js/MyJs.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
      {% endjavascripts %}
    {% endblock javascripts %}
  </body>
</html>