<!DOCTYPE html>
<html>
  <head>
    <title>{{ category }} - {{ WebInfos.0.webtitle }}</title>
    {% embed('@WebBundle/Resources/views/Layouts/shop_assets.html.twig') %}
    {% endembed %}
  </head>
  <body class="w3-content" style="max-width:1200px">
    {% embed('@WebBundle/Resources/views/Layouts/shop_navbar.html.twig') %}
    {% endembed %}
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:250px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>

  {% embed('@WebBundle/Resources/views/Layouts/shop_topheader.html.twig') %}
  {% endembed %}

  <!-- Image header -->
  <div class="w3-display-container w3-container">
    <img src="https://www.aspect.com/globalassets/images/hero-developers-categorypg-1200x435.jpg" alt="{{ categories |first }}" style="width:100%">
    <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
      <h1 class="w3-jumbo w3-hide-small">New arrivals of {{ category }}</h1>
      <h1 class="w3-hide-large w3-hide-medium">New arrivals of {{ category }}</h1>
      <h1 class="w3-hide-small">COLLECTION 2018</h1>
      <p><a class="w3-button w3-black w3-padding-large w3-large">HIRE NOW</a></p>
    </div>
  </div>
  <div class="w3-container w3-text-grey" id="{{ category }}">
    <p>{{ products|length }} items</p>
  </div>
{% if products|length == 0 %}
<h1> There is no {{ category }} for the moment </h1>
{% endif %}
  <!-- Product grid -->
  <div class="w3-row w3-grayscale">
{% for product in products %}
    <div class="w3-col l3 s6">
      <div class="w3-container">
        <a href="/shop/{{ category }}/{{ product.id }}"><img src="{{ product.img ?: "https://d30y9cdsu7xlg0.cloudfront.net/png/1095867-200.png" }}" style="width:100%">
        <p>{{ product.name }}<br><b>{{ product.price|number_format(0, ',') }}$</b></p></a>
      </div>
    </div>
{% endfor %}
  </div>
  {% embed('@WebBundle/Resources/views/Layouts/footer.html.twig') %}
  {% endembed %}
  <!-- End page content -->
</div>
{% embed('@WebBundle/Resources/views/Layouts/newsletter.html.twig') %}
{% endembed %}
{% block javascripts %}
    {% javascripts '@WebBundle/Resources/assets/js/MyJs.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}

</body>
</html>
